/* src/components/Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #24234F;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.navbar-items {
    display: flex;
    align-items: center;
}

.navbar-search {
    padding: 5px 10px;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
}

.navbar-link, .navbar-icon {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.navbar-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
